<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/.mybatis-3-config.dtd">
  
  <configuration>
  
  	<!-- settings : mybatis구동시 선언할 설정들을 작성하는 영역 -->
  	<settings>
  		<!-- 만약 null로 데이터가 전달되었다면 빈칸이 아닌 null로 인식해라(무조건대문자NULL) -->
  		<setting name="jdbcTypeForNull" value="NULL"/>
  	</settings>
  	
  	<!-- typeAlias : VO/DTO 클래스들의 풀클래스명을 단순한 클래스명으로 사용하기 위해서 별칭을 등록할 수 있는 영역-->
  	<typeAliases>
  		<typeAlias type="com.kh.finalProject.place.model.vo.Place" alias="Place" />
  		<typeAlias type="com.kh.finalProject.place.model.vo.PlaceImg" alias="PlaceImg" />
  		<typeAlias type="com.kh.finalProject.team.model.vo.TeamOffer" alias="teamOffer"/>
  		<typeAlias type="com.kh.finalProject.notice.model.vo.Notice" alias="Notice"/>
  		<typeAlias type="com.kh.finalProject.member.model.vo.Member" alias="Member" />
  		<typeAlias type="com.kh.finalProject.member.model.vo.SportInfo" alias="SportInfo" />
  		<typeAlias type="com.kh.finalProject.member.model.vo.Friend" alias="Friend" />
  		<typeAlias type="com.kh.finalProject.team.model.vo.Team" alias="Team" />
  		<typeAlias type="com.kh.finalProject.team.model.vo.TeamMember" alias="TeamMember" />
  		<typeAlias type="com.kh.finalProject.team.model.vo.TeamImg" alias="TeamImg" />
  		<typeAlias type="com.kh.finalProject.member.model.vo.MessageAuth" alias="MessageAuth" />
  		<typeAlias type="com.kh.finalProject.place.model.vo.Reservation" alias="Reservation" />
  		<typeAlias type="com.kh.finalProject.member.model.vo.MemberImg" alias="MemberImg" />
		<typeAlias type="com.kh.finalProject.team.model.vo.TeamReq" alias="TeamReq" />
		<typeAlias type="com.kh.finalProject.place.model.vo.Reply" alias="Reply" />
  	</typeAliases>


  	<mappers>
  		<mapper resource="/mappers/place-mapper.xml" />
  		<mapper resource="/mappers/team-mapper.xml" /> 
  		<mapper resource="/mappers/member-mapper.xml" />
  		<mapper resource="/mappers/notice-mapper.xml" />
  	</mappers>

 
  </configuration>