@charset "UTF-8";

.yes-input {
    width: 50px;
}

.inpo-teul {
    margin-top: 80px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table {
    width: 100%;
    border-collapse: collapse; 
}

.inpo-td {
    width: 200px;
    margin-right: 15px; 
}

.inpo-th {
    width: 150px;
    margin-right: 10px; 
}
.inpo-btn{
    display: flex;
    justify-content: center;
}
