*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.outer{
    min-height: calc(100vh - 10rem);
}
.from-input{
    width: 500px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: solid 1px;
    padding: 0 10px;
}
.field-select{
    width: 150px;
    height: 30px;
    margin: 10px 10px 10px 0px;
}
.filebox{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.btn-upload {
    width: 500px;
    height: 250px;
    background: #fff;
    border: 1px solid rgb(77,77,77);
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: none;
}
.btn-upload img{
    width: 100%;
    height: 100%;
}
/* .filebox .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 200px;
    color: #999999;
    margin-bottom: 10px;
}
#file-upload-button{
    display: none;
} */

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.field-insert-input input[type="time"]{
    width: 75px;
}
/* .btn-upload {
    width: 150px;
    height: 30px;
    background: #fff;
    border: 1px solid rgb(77,77,77);
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: rgb(77,77,77);
      color: #fff;
    }
    margin-top: 10px;
    margin-bottom: 20px;
  } */
  
  #fileImgFile {
    display: none;
  }