*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
font-family: 'KBO-Dia-Gothic_bold';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
font-weight: 300;
font-style: normal;
}
*{font-family: 'KBO-Dia-Gothic_bold';}
.outer{
    background: #f3f5f7;
}
.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 448px;                                 
    overflow: hidden;
    position: relative;
}
.slide {
    float: left;
    width: 100%;
    position: relative;
}
img {
    width: 100%;
    height: auto;                                                        
}
.section {
    border-bottom: 20px solid #F2F5F7;
}
.section_header{
    padding: 20px;
}
.section_body{
    padding: 0px 20px 24px 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}
.section_body ul li{
    list-style: none;
    display: inline-flex;
    padding: 10px 0px;
    width: 48%;
}
.section_body ul li img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.section_div{
    width: 100%;
    margin: 0px 10px;
}
.body_right span{
    display: inline-flex;
    align-items: center;
}
.body_right span h6 a{
    display: inline-flex;
    align-items: center;
    opacity: 0.5;
    margin-left: 5px;
    margin-top: 9px;
    cursor: pointer;
}
.body_right h5 a{
    margin: 10px;
}
.body_right img{
    width: 24px;
    height: 24px;
}
.body_right div{
    display: inline-flex;
}
.body_right_count_like{
    display: inline-flex;
}
.body_right_count_like img{
    margin: 5px;
}
.body_right_count_like p{
    margin-top: 5px;
}
.body_right_pay{
    display: inline-flex;
    align-items: center;
    margin: 3px;
}
.body_right_btn_div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.body_right_btn_div button{
    width: 100px;
    height: 50px;
}
.choice-team img{
    width: 30px;
    height: 30px;
}

.choice-team{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: none;
    border: 0px;
}
.choice-team:hover{
  cursor: pointer;
}
.choice-team-body:hover{
  opacity: 0.7;
  background: #d5e2fc;
}
.match-solo-btn{
  font-size: 20px;
  width: 100%;

  height: 50px;
  border: 1px solid #d5e2fc;
  background: white;
  border-radius: 5px;
}
.match-team-btn{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.match-team-btn:hover{
  background-color: #d5e2fc;
}
.match-team-btn>span{
  position: absolute;
  left: clac(50% - 35px);
}
.match-solo-btn:hover{
  background-color: #d5e2fc;
}
.team-member img{
    width: 30px;
    height: 30px;
}
.team-member{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.team-member div{
  height: 43px;
  width: 80%;
}
.team-member span{
  font-size: 16px;
}
.team-member p{
  font-size: 12px;
}
.team-member input{
  height: 20px;
  width: 20px;
}
.accordion-button:focus {
  box-shadow: none;
  outline: none;
}
.accordion-button:not(.collapsed){
  background-color: white;
  border-color:none;
}

@media screen and (min-width: 720px) {
    .section_body{
        display: flex;
        flex-direction: row;
    }
    .section_div{
        max-width: 500px;
    }
}