*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
font-family: 'KBO-Dia-Gothic_bold';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
font-weight: 100;
font-style: normal;
}
*{font-family: 'KBO-Dia-Gothic_bold';}
.header-body{
    width: 100%;
}

.header{
    max-width: 1000px;
    height: 55px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left{
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.hambuger-img{
    width: 24px;
    height: 24px;
    margin: 5px;
}
.header-name{
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    padding-left: 5px;
}
.header-right{
    display: flex;
}
.search-bar input{
    width: 300px;
    height: 37px;
    border: 1px solid #bbb;
    border-radius: 3px;
    font-size: 14px;
}
.search-bar button{
    border: none;
    background-color: white;
    right: 12px;
}
.search-bar-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar-icon img, .search-bar img{
    width: 24px;
    height: 24px;
    margin: 0px 5px;
}
@media screen and (max-width: 720px) {
    .search-bar input{
        width: 100%;
        max-width: 100px;
    }
}