*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.outer{
    min-height: calc(100vh - 10rem);
}

ul, li, ol{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/* nav 글씨 */
.nav-container {
    line-height: 40px;
    padding: 0px;
    background-color: white;
    margin-top: -30px;
    margin-bottom: -24px;
}

.nav-container .nav-wrapper {
    margin: 0 auto;
    display: flex;
    padding: 14px 20px;
    justify-content: flex-start;
}

.nav-container .nav-wrapper .nav-item {
    padding-right: 16px;
    font-size: 20px;
    line-height: 26px;
    margin: 0px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

.nav-container .nav-wrapper .nav-item a {
    color: black;
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
}

a:link { color: black; }

.nav-container .nav-wrapper .nav-item a.selected {
    font-weight: 700;
    color: #282B33;
    border-bottom: none;
}

/* EXPLORE NAV */
.explore-container {
	max-width: 1024px;
	margin: 0 auto;
}

.explore-wrapper {
	padding: 10px 15px 0px 15px;
}

.explore-wrapper .explore-item {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.explore-wrapper .explore-item a {
	padding: 5px;
    text-decoration: none;
    color: black;
}

.explore-wrapper .explore-item img {
	vertical-align: middle;
    width: 28px;
    height: 28px;
}

.explore-wrapper .explore-item p {
	margin-top: 5px;
	font-size: 12px;
}

/* carousel 이미지슬라이드 */
.real-img{
    max-width: 100%;
    min-height: 130px;
    border-radius: 30px;
    max-height: 130px;
    object-fit: cover;
}
/* 축구, 농구, 야구 선택하는 버튼 */
.choice-sports{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.choice-sports div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 10px;
    font-weight: 700;
}
.choice-sports div p{
    margin-bottom: 0rem;
    padding-left: 11px;
}
.sports-img{
    vertical-align: middle;
    width: 10px;
    height: 10px;
}
.baseball-img{
    vertical-align: middle;
    width: 13px;
    height: 13px;
}
.baseball-btn{
    width: 120px;
    height: 30px;
    border: 1px solid red;
    border-radius: 20px;
}
.football-btn{
    width: 120px;
    height: 30px;
    border: 1px solid green;
    border-radius: 20px;
}
.basketball-btn{
    width: 120px;
    height: 30px;
    border: 1px solid rgb(255, 115, 0);
    border-radius: 20px;
}

/* filter */
.main-match-filter {
    padding: 8px 0px;
}
.filter-wrapper{
    position: relative;
}
.filter-wrapper ul {
    box-sizing: content-box;
    white-space: nowrap;
    padding: 0;
    max-width: 1024px;
    display: flex;
}
.filter-wrapper ul li {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-left: 5px;
    padding: 0px 12px;
    line-height: 32px;
    height: 32px;
    position: relative;
    cursor: pointer;
    border: 1px solid #D9E0E6;
    border-radius: 20px;
    outline: none;
    box-sizing: content-box
}
.modal-body{
    color: black;
}

.filter-wrapper ul li:first-child {
    margin-left: 20px;
}
.filter-wrapper ul li.on {
    border: 1px solid #1570FF;
    border-radius: 20px;
    color: #1570FF;
}
.filter-wrapper span {
    border: none;
    color: #727F88
}
.filter-wrapper ul li.on span {
    border: none;
    color: #1570FF;
}
.filter-item-arrow {
	width: 8.5px;
	margin-left: 3px;
}

/* 매치 스케쥴 정보 */
.match-schedule-container {
	max-width: 1024px;
	margin: 0 auto;
}
.match-schedule-container ul{
    padding: 0px;
    margin-bottom: 0px;
}
.match-schedule-item a {
	border-bottom: 1px solid #ddd;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 20px 15px;
    text-decoration: none;
}
.match-title h3{
    text-decoration: none;
}
.match-schedule-item .match-time {
	width: 15%;
	font-weight: 700;
	text-align: center;
	font-size: 10px;
}
.match-schedule-item .match-info {
	width: 62%;
	padding-right: 10px;
}
.match-schedule-item .match-info h3 {
	font-size: 13px;
	font-weight: 400;
	word-break: keep-all;
}
.match-option {
	font-size: 7px;
	color: #727F88;
	margin-top: 3px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.match-status {
	width: 80px;
    height: 40px;
	text-align: center;
	padding: 8px 5px;
	border-radius: 6px;
	font-size: 14px;
    cursor: pointer;
}

.match-status.isFull {
	color: gray;
	background-color: #EEEEEE;
}

.match-status.isOpen {
	color: white;
	background-color: #1570FF;
}

.match-status.isHurry {
	color: white;
	background-color: #FF4D37;
}

@media (min-width: 720px) {
    .outer{
        margin-left: 15%;
        margin-right: 15%;
        min-height: calc(100vh - 10rem);
    }
    li, ul{
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }
    
    /* nav 글씨 */
    .nav-container {
        line-height: 40px;
        padding: 0px;
        background-color: white;
    }
    
    .nav-container .nav-wrapper {
        margin: 0 auto;
        display: flex;
        padding: 14px 20px;
        justify-content: flex-start;
    }
    
    .nav-container .nav-wrapper .nav-item {
        padding-right: 16px;
        font-size: 20px;
        line-height: 26px;
        margin: 0px;
        position: relative;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .nav-container .nav-wrapper .nav-item a {
        color: #727F88;
        position: relative;
        padding: 0;
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    
    .nav-container .nav-wrapper .nav-item a.selected {
        font-weight: 700;
        color: #282B33;
        border-bottom: none;
    }
    
    /* EXPLORE NAV */
    .explore-container {
        max-width: 1024px;
        margin: 0 auto;
    }
    
    .explore-wrapper {
        padding: 10px 15px 0px 15px;
    }
    
    .explore-wrapper .explore-item {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    
    .explore-wrapper .explore-item a {
        padding: 5px;
        text-decoration: none;
        color: black;
    }
    
    .explore-wrapper .explore-item img {
        vertical-align: middle;
        width: 28px;
        height: 28px;
    }
    
    .explore-wrapper .explore-item p {
        margin-top: 5px;
        font-size: 12px;
    }
    
    /* carousel 이미지슬라이드 */
    .real-img{
        max-width: 100%;
        max-height: 320px;
        border-radius: 30px;
    }
    /* 축구, 농구, 야구 선택하는 버튼 */
    .choice-sports{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
    }
    .choice-sports div{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: black;
        font-size: 25px;
        font-weight: 700;
    }
    .choice-sports div p{
        margin-bottom: 0rem;
        padding-left: 11px;
    }
    .sports-img{
        vertical-align: middle;
        width: 28px;
        height: 28px;
    }
    .baseball-img{
        vertical-align: middle;
        width: 33px;
        height: 33px;
    }
    .baseball-btn{
        width: 200px;
        height: 50px;
        border: 1px solid red;
        border-radius: 20px;
    }
    .football-btn{
        width: 200px;
        height: 50px;
        border: 1px solid green;
        border-radius: 20px;
    }
    .basketball-btn{
        width: 200px;
        height: 50px;
        border: 1px solid rgb(255, 115, 0);
        border-radius: 20px;
    }
    /* filter */
    .main-match-filter {
        padding: 8px 0px;
    }
    .filter-wrapper{
        position: relative;
    }
    .filter-wrapper ul {
        box-sizing: content-box;
        white-space: nowrap;
        padding: 0;
        max-width: 1024px;
        display: flex;
    }
    .filter-wrapper ul li {
        display: flex;
        align-items: center;
        font-size: 14px;
        margin-left: 5px;
        padding: 0px 12px;
        line-height: 32px;
        height: 32px;
        position: relative;
        cursor: pointer;
        border: 1px solid #D9E0E6;
        border-radius: 20px;
        outline: none;
        box-sizing: content-box
    }
    .modal-body{
        color: black;
    }

    .filter-wrapper ul li:first-child {
        margin-left: 20px;
    }
    .filter-wrapper ul li.on {
        border: 1px solid #1570FF;
        border-radius: 20px;
        color: #1570FF;
    }
    .filter-wrapper span {
        border: none;
        color: #727F88
    }
    .filter-wrapper ul li.on span {
        border: none;
        color: #1570FF;
    }
    .filter-item-arrow {
        width: 8.5px;
        margin-left: 3px;
    }

    /* 매치 스케쥴 정보 */
    .match-schedule-container {
        max-width: 1024px;
        margin: 0 auto;
    }
    .match-schedule-item a {
        border-bottom: 1px solid #ddd;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 20px 15px;
        text-decoration: none;
    }
    .match-schedule-item .match-time {
        width: 15%;
        font-weight: 700;
        text-align: center;
        font-size: 20px;
    }
    .match-schedule-item .match-info {
        width: 62%;
        margin-right: 90px;
        padding-right: 10px;
    }
    .match-schedule-item .match-info h3 {
        font-size: 20px;
        font-weight: 400;
        word-break: keep-all;
    }
    .match-option {
        font-size: 12px;
        color: #727F88;
        margin-top: 3px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .match-status {
        width: 80px;
        height: 40px;
        text-align: center;
        padding: 8px 5px;
        border-radius: 6px;
        font-size: 14px;
        cursor: pointer;
    }

    .match-status.isFull {
        color: gray;
        background-color: #EEEEEE;
    }

    .match-status.isOpen {
        color: white;
        background-color: #1570FF;
    }

    .match-status.isHurry {
        color: white;
        background-color: #FF4D37;
    }
}

a:link{text-decoration: none;}
a:visited,a:active{color: black;}

/* 팀생성 모달창 css*/

.comedy input:checked + span{background-color: #1BB8F7;}

.header-h5{
    font-weight: 900;
}
.body-p{
    font-size: 30px;
}
input::placeholder {
    font-size: 16px;
}
.madal-font{
    font-size: 14px;
    margin: 5px 0px;
}
.home-field-search input{
    background-image: url(./search.svg);
    background-position-y: center;
    background-position-x: calc(100% - 15px);
    background-repeat: no-repeat;
}
.btn-group-top{
    width: 100%;
}
.btn-group-top ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0px;
}
.btn-group-top ul li{
    list-style: none;
    display: inline-flex;
}



.btn-group-buttom{
    width: 100%;
}
.btn-group-buttom ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0px;
}
.btn-group-buttom ul li{
    list-style: none;
    display: inline-flex;
    margin: 10px 0px;
}
.btn-group-top ul li input{
    display: none;
}
.btn-next{
    width: 100%;
    height: 50px;
}
.radio-div{
    display: flex;
    
}
.radio-div > ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.madal-label{
    font-size: 16px;
    border-radius: 15px;
    width: 90px;
    height: 40px;

}
.madal-radio1{
    font-size: 18px;
    border-radius: 30px;
}
.madal-radio2{
    font-size: 18px;
    border-radius: 30px;
}
.profile-imgbox{
    display: flex;
    justify-content: center;
}
.btn-upload {
    width: 96px;
    height: 96px;
    background: #fff;
    border: 1px solid rgb(77,77,77);
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: none;
}
.btn-upload img{
    width: 96px;
    height: 96px;
}

#file {
    display: none;            
}
.btn-checkX+.btn:hover{
    color: #1BB8F7;
    border-radius: 15px;
    border: 1px solid #1BB8F7;
}
.btn-checkX + .btn-checkX-label{
    color: #1BB8F7;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #1BB8F7;
}
.btn-checkX:checked + .btn-checkX-label{
    background-color: #1BB8F7;
    color: #ffffff;
    text-shadow: 0 0  6px rgba(0, 0, 0, 0.8);
}
@media screen and (min-width: 420px) {
    .madal-label{
        width: 130px;
    }
}

/* 내팀보기 모달 */
.list-title{
    text-align: center;
    border-bottom: 1px solid;
    width: 400px;
    margin-left: 30px;
}
.modal-header{
    padding-left: 151px;
    border-bottom: none;
}

.modal-content{
    text-align: center;
}
.accordion-button{
    text-align: center;
}
.accordion-body a {
    display: flex;
    align-items: left;
    justify-content: left;
    text-decoration: none;
    color: black;
    margin: 0 10px;
}
.accordion-body > a > img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 16px;
}
.choice-sports div:hover{
    background : #1BB8F7;
    cursor: pointer;
}
.choice-box{
    border-radius: 15px;
    border: 1px solid #727F88;
    font-size: 15px;
    padding: 5px;
    color: #727F88;
    width: 82px;
}
.choice-box:focus{
    outline: none;
}
.date-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.date-container div {
    width: 50px;
    margin: 13px 0px 0px 0px;
    border: 1px solid gray;
    border-radius: 15px;
    text-align: center;
    padding: 6px;
    width: 60px;
    height: 60px;
    margin: 30px 2px;
}
.date-container div:hover{
    background: rgb(192, 192, 192);
    cursor: pointer;
}
.date-container p{
    margin: 0px;
}
.date-container p{
    margin: 0px;

}